<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_eudaimoniaforum"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_eudaimoniaforum"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Conquistas_2"
        tools:targetApi="31">

        <!-- Activities Novas -->
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".chat.ConversasActivity" />
        <activity android:name=".auth.RecuperarSenhaActivity" />
        <activity android:name=".forum.MinhasPostagensActivity" />

        <activity
            android:name=".notification.NotificacaoActivity"
            android:exported="false" />
        <activity
            android:name=".forum.ComentarioActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".perfil.VisualizarPerfilActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="OPEN_MAIN_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.RegistrarActivity" />
        <activity android:name=".perfil.SetupPerfilActivity" />
        <activity android:name=".main.EditarAbstinenciaActivity" />
        <activity android:name=".perfil.PerfilActivity" />
        <activity android:name=".forum.ForumActivity" />
        <activity android:name=".perfil.EditarPerfilActivity" />
        <activity android:name=".forum.NovoPostActivity" />
        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Configuração do Canal Padrão para Notificações em Background (Obrigatório no Android Oreo+) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />
        
        <activity android:name=".onboarding.OnboardingActivity" />
        <activity android:name=".orientacoes.OrientacoesActivity" />
        <activity android:name=".moderacao.ModeracaoActivity" />
        <activity android:name=".moderacao.DenunciaActivity" />
    </application>

</manifest>